<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>개발던전</title>
        <link rel="stylesheet" href="/dev-dungeon.css">
    </head>
    <body>
        <header th:replace="fragments/devHeader :: devHeader(${isLogin})"></header>
        <th:block layout:fragment="content">Content</th:block>
        <footer th:replace="fragments/devFooter :: devFooter"></footer>
    </body>
</html>