* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #999999;
}

a {
    text-decoration: none;
}

.content-width {
    max-width: 1130px;
    margin: 0 auto;
}

.content {
    max-width: 1130px;
    margin: 0 auto;
    padding: 15px 0;
    background-color: white;
}

/* Common */
.w100 {
    width: 100%;
}

/* Header */
.page-header {
    height: 50px;
    background: #555555;
    color: white;
}

.header-title {
    background: #333;
    font-size: 25px;
    width: 130px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    float: left;
    cursor: pointer;
    color: white;
}

nav {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.header-navigator {
    padding: 0;
    display: table-row;
    z-index: 1;
}

.header-navigator > li {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}

.header-menu {
    cursor: pointer;
    padding: 0 5px;
}

.header-menu > a {
    color: white;
    font-size: 13px;
}

.header-divider {
    cursor: default;
    padding: 0 5px;
}

.header-space {
    flex: 1;
}

#header-indicator {
    position: absolute;
    width: 60px;
    height: 10px;
    left: 230px;
    top: 45px;
    background: #555555;
    border-radius: 0 0 20px 20px;
    visibility: hidden;
}

.header-indicator-smooth {
    transition: width 0.3s, left 0.3s, top 0.3s;
}

#user-button {
    position: relative;
}

.header-login {
    visibility: hidden;
    width: 100px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    background-color: white;
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(60, 64, 67, 0.15), 0 1px 3px rgba(60, 64, 67, 0.3), 0 6px 11px rgba(128, 134, 139, 0.06), 0 -3px 11px rgba(128, 134, 139, 0.09);
}

section.main {
    background-image: url("https://via.placeholder.com/920x420");
    height: 420px;
}

article#operators {
    position: relative;
    width: 315px;
    top: 80px;
    left: 50px;
    text-align: center;
}

.operators-title {
    color: white;
    font-size: 25px;
    margin-bottom: 5px;
}

.operator-cards {
    display: flex;
    justify-content: space-between;
}

.operator-card {
    width: 150px;
    height: 230px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
    /*box-shadow: 3px 3px 3px #777777;*/
}

.operator-img {
    margin: 15px;
    border-radius: 50%;
}

.operator-name {
    letter-spacing: 3px;
}

.main-content {
    padding: 15px;
}

.content-header {
    font-size: 18px;
}

.section-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

article.article-card {
    box-shadow: 2px 2px 5px 1px #cccccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: 32px 0;
}

.card-content {
    display: inline-block;
    width: 45%;
    margin: auto 30px;
}

.tag {
    display: inline-block;
    color: white;
    padding: 3px 8px;
    font-size: 10px;
    border-radius: 8px;
}

.new-tag {
    background-color: #686FCC;
}

.chapter-tag {
    background-color: #CC3E93;
}

.series-name-header {
    display: inline-block;
    font-size: 12px;
}

.card-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-preview {
    font-size: 17px;
}

.card-image {
    width: 55%;
}

/* Quest Card */

.quest-card {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #555555;
    background-color: transparent;

    cursor: pointer !important;
    user-select: none;

    transition: background-color 200ms;
}

.quest-card:hover {
    background-color: #999999;
}

.quest-card-author, .quest-card-time {
    font-size: 15px;
    font-weight: bold;
    color: #555555;
}

/* Buttons */
.btnPositive, .btnNegative {
    width: 80px;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 150ms;
}

.btnPositive {
    color: #333333;
}

.btnPositive:hover {
    background-color: #999999;
}

.btnPositive:active {
    background-color: #555555;
}

.btnNegative {
    color: #ff3333;
}

.btnNegative:hover {
    background-color: #ff9999;
}

.btnNegative:active {
    background-color: #bb4444;
}

/* Paging */
.paging {
    text-align: center;
    user-select: none;
}

.paging-button {
    color: black;
    background: none;
    border: none;
    outline: none;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
}

.paging-button-disabled {
    cursor: default;
    color: lightgray;
}

.paging-button-selected {
    font-weight: bold;
    font-size: 18px;
}
