<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<header th:fragment="devHeader(isLogin)" class="page-header content-width">
    <a id="main" class="header-title" href="/">개발던전</a>
    <nav>
        <ul id="header-navigator" class="header-navigator">
            <li class="header-menu"><a href="/quest">개발일기</a></li>
            <li class="header-divider">|</li>
            <li class="header-menu"><a href="/quest">프로그래밍 언어</a></li>
            <li class="header-menu"><a href="/quest">프레임워크 & 라이브러리</a></li>
            <li class="header-menu"><a href="/quest">알고리즘</a></li>
            <li class="header-menu"><a href="/quest">디자인 패턴</a></li>
            <li class="header-divider">|</li>
            <li class="header-menu"><a href="/quest">일상</a></li>
            <li class="header-divider">|</li>
            <li class="header-menu"><a href="/quest">NPC</a></li>
            <li class="header-divider">|</li>
            <li class="header-menu"><a href="/login">로그인</a></li>
            <li th:if="${isLogin} == true" class="header-menu"><a href="/login">로그인</a></li>
            <li th:unless="${isLogin} == true" class="header-menu"><a href="/login">로그아웃</a></li>
            <li class="header-menu"><a href="/signup">회원가입</a></li>
        </ul>
    </nav>
    <div id="header-indicator"></div>
    <script type="text/javascript" src="/fragment_devHeader.js"></script>
</header>
</html>
