<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<header th:fragment="devHeader(nickname)" class="page-header content-width">
    <a id="main" class="header-title" href="/">개발던전</a>
    <nav>
        <ul id="header-navigator" class="header-navigator">
            <li class="header-menu header-target"><a href="/quest">개발일기</a></li>
            <li class="header-divider">|</li>
            <li class="header-menu header-target"><a href="/quest">프로그래밍 언어</a></li>
            <li class="header-menu header-target"><a href="/quest">프레임워크 & 라이브러리</a></li>
            <li class="header-menu header-target"><a href="/quest">알고리즘</a></li>
            <li class="header-menu header-target"><a href="/quest">디자인 패턴</a></li>
            <li class="header-divider">|</li>
            <li class="header-menu header-target"><a href="/quest">일상</a></li>
            <li class="header-divider">|</li>
            <li class="header-menu header-target"><a href="/quest">NPC</a></li>
        </ul>
        <ul id="user-button" class="header-navigator" th:if="${nickname}">
            <li class="header-menu"><span th:text="${nickname}"></span> ▼
                <ul class="header-login">
                    <li>내 정보</li>
                    <li><a href="/logout">로그아웃</a></li>
                </ul>
            </li>
        </ul>
        <ul class="header-navigator" th:unless="${nickname}">
            <li  class="header-menu"><a href="/login">로그인</a></li>
        </ul>
    </nav>
    <div id="header-indicator"></div>
    <script type="text/javascript" src="/fragment_devHeader.js"></script>
</header>
</html>
