<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<header th:fragment="devHeader" class="page-header content-width">
    <a id="main" class="header-title" href="/">개발던전</a>
    <nav>
        <ul class="header-navigator">
            <li class="header-menu"><a href="/hyuni/list">개발일기</a></li>
            <li class="header-divider">|</li>
            <li class="header-menu"><a href="/hyuni/list">프로그래밍 언어</a></li>
            <li class="header-menu"><a href="/hyuni/list">프레임워크 & 라이브러리</a></li>
            <li class="header-menu"><a href="/hyuni/list">알고리즘</a></li>
            <li class="header-menu"><a href="/hyuni/list">디자인 패턴</a></li>
            <li class="header-divider">|</li>
            <li class="header-menu"><a href="/hyuni/list">일상</a></li>
            <li class="header-divider">|</li>
            <li class="header-menu"><a href="/hyuni/list">NPC</a></li>
        </ul>
    </nav>
    <div id="header-indicator"></div>
    <script type="text/javascript" src="/fragment_devHeader.js"></script>
</header>
</html>
