<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<div th:fragment="paging(minPage, maxPage, currentPage, hasPrev, hasNext, baseUrl)" class="paging">
    <div>
        <button th:disabled="${!hasPrev}" class="paging-button"
                th:onclick="redirect([[${baseUrl}]], {page: [[${minPage-1}]]})">◀
        </button>
        <button th:each="page : ${#numbers.sequence(minPage, maxPage)}"
                th:text="${page}"
                class="paging-button"
                th:classappend="${page == currentPage} ? paging-button-active"
                th:onclick="redirect([[${baseUrl}]], {page: [[${page}]]})"></button>
        <button th:disabled="${!hasNext}"
                class="paging-button"
                th:onclick="redirect([[${baseUrl}]], {page: [[${maxPage+1}]]})">▶
        </button>
    </div>
</div>
</html>
