<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/devLayout">
<head>
    <title>개발 던전</title>
</head>

<th:block layout:fragment="stylesheets">
    <style>
        h2 {
            margin-left: 15px;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="content">
        <h2>신규 퀘스트</h2>
        <div th:replace="fragments/questCard :: questCard(title='회원 가입 구현하기', author='김현이', time='2020/07/11 오전 10시 30분', content='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mollis orci vitae dui suscipit ultrices. Sed eu convallis justo, non condimentum libero. Mauris quis dapibus risus, in vulputate odio. Donec vitae aliquet odio. Phasellus lacinia nisi est, sed consectetur massa pretium a. Praesent sed efficitur nisl, a vulputate libero. Aenean eleifend condimentum placerat. Praesent interdum dui a nisi accumsan, in imperdiet nibh vulputate. Mauris pulvinar pellentesque felis ac sagittis. Curabitur sem ipsum, convallis porta venenatis ut, auctor id massa. Vivamus tincidunt orci vel lectus efficitur, ac consectetur quam ornare. Praesent commodo bibendum convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.')"></div>
        <div th:replace="fragments/questCard :: questCard(title='메인 페이지 구현하기', author='최기곤', time='2020/07/10 오후 11시', content='Ut nec nisi nunc. Nam id urna et justo bibendum laoreet in eu dui. Quisque fringilla, nibh sit amet volutpat bibendum, velit sem euismod lacus, quis rutrum risus orci quis eros. Ut aliquam nisi eros, a consequat ex molestie eu. Aenean condimentum pulvinar turpis, id dictum dolor rhoncus vel. Aliquam metus quam, venenatis quis augue finibus, lacinia posuere elit. Suspendisse venenatis auctor augue, quis elementum leo. Vestibulum sodales vestibulum tellus. Phasellus urna nulla, tempor ac volutpat a, sollicitudin quis risus. Quisque vulputate varius diam ut congue. Fusce cursus, arcu eget lobortis lobortis, tellus dui sollicitudin sapien, eget interdum tortor purus sit amet libero. Donec cursus dui sed lectus lobortis, vel pretium arcu ultrices. Ut vitae interdum diam, in scelerisque lectus. Donec pulvinar eget dolor quis fermentum.')"></div>
    </div>
</th:block>