<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/devLayout">
<head>
    <title>검색 결과</title>
    <script src="/search.js"></script>
</head>

<th:block layout:fragment="content">
    <div class="content">
        <div class="search">
            <select id="type">
                <option value="">선택</option>
                <option value="author">작성자</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="title&content">제목+내용</option>
            </select>
            <input id="searchContent" type="text" name="search">
            <button id="bntSearch" class="bntPositive">검색</button>
        </div>
        <div th:each="quest : ${questList}">
            <div th:replace="fragments/questCard :: questCard(id=${quest.id}, title=${quest.title}, author=${quest.authorDetails.nickName}, time=${quest.regTime}, content=${quest.content})"></div>
        </div>

    </div>
</th:block>