<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/devLayout}">
<head>
    <title>퀘스트 목록</title>
    <style>
        h2 {
            margin-left: 15px;
        }
    </style>
</head>

<th:block layout:fragment="content">
    <div class="content">
        <h2>퀘스트 목록</h2>
        <div th:each="quest : ${questList}">
            <div th:replace="fragments/questCard :: questCard(title=${quest.title}, author=${quest.authorDetails.nickName}, time=${quest.regTime}, content=${quest.content})"></div>
        </div>
        <div th:replace="fragments/paging :: paging(minPage=1, maxPage=10, currentPage=5, hasPrev=false, hasNext=true, baseUrl='/hyuni')"></div>
    </div>
</th:block>