<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/devLayout">
<head>
    <title th:text="*{quest.title}"></title>
    <script src="/quest_view.js"></script>
    <link href="//cdn.quilljs.com/1.0.0/quill.core.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>

<th:block layout:fragment="content">
    <div class="content">
        <h2 class="title">퀘스트</h2>
        <table class="quest">
            <tbody>
            <tr>
                <td>제목</td>
                <td th:text="*{quest.title}"></td>
            </tr>
            <tr>
                <td>챕터</td>
                <td th:text="*{quest.chapter.title}" th:onclick="'window.location.href=\'' + @{/chapter/{id}(id=${quest.chapter.id})} + '\''"></td>
                <td>작성자</td>
                <td th:text="*{quest.author}"></td>
                <td>작성일</td>
                <td th:text="*{#dates.format(new java.util.Date(quest.regTime), 'yyyy년 MM월 dd일 a H시 mm분')}"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><div id="editor-container"></div></td>
            </tr>
            </tbody>
        </table>
        <div class="controls">
            <button id="bntEdit" th:onclick="'window.location.href= \'' + @{/quest/edit/{id}(id=${quest.id})} + '\''">수정</button>
            <button id="bntRemove">삭제</button>
        </div>
        <hr>
        <h2>댓글</h2>
        <div id="comment-area"></div>
        <div>
            <label for="input-comment">댓글 작성</label>
            <input id="input-comment" type="text">
            <button id="button-comment">작성</button>
        </div>
    </div>
    <div id="meta" style="display: none">
        <div id="content" th:text="${quest.content}"></div>
    </div>
</th:block>














