<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/devLayout}">
<head>
    <title>퀘스트 작성</title>
    <style>
        .content {
            padding: 15px;
        }

        h2 {
            margin-bottom: 15px;
        }

        input {
            font-size: 25px;
            margin-bottom: 15px;
        }

        textarea {
            height: 500px;
        }

        #controls {
            text-align: right;
        }
    </style>
<!--    <script src="/quest_write.js"></script>-->
</head>

<th:block layout:fragment="content">
    <div class="content">
        <div th:switch="${type}">
            <h2 th:case="'edit'">퀘스트 수정 :: [[${quest.title}]]</h2>
            <h2 th:case="*">신규 퀘스트</h2>
        </div>

        <label class="w100" for="input">제목</label>
        <input class="w100" id="input" th:value="${quest?.title}?:''">

        <label class="w100" for="ta">퀘스트 내용</label>

        <textarea class="w100" id="ta" th:inline="text">[[${quest?.content}]]</textarea>

        <div id="controls">
            <button class="btnNegative" onclick="window.history.back()">취소</button>
            <button class="btnPositive" th:onclick="onConfirm([[${quest}]])">게시</button>
        </div>
    </div>
    <script>
        const ta = document.getElementById('ta');
        const tf = document.getElementById('input');

        function onConfirm(quest) {
            const title = tf.value;
            const content = ta.value;

            console.log(content);

            if (quest == null) requestNewQuest(title, content);
            else requestEditQuest(quest.id, title, content);
        }

        function requestNewQuest(title, content) {
            const body = {
                title: title,
                content: content,
                regTime: (new Date()).getTime()
            };

            request('/quest/write', {
                method: 'POST',
                body: JSON.stringify(body)
            }).then(res => console.log(res));
        }

        function requestEditQuest(id, title, content) {
            const body = {
                title: title,
                content: content
            };

            request('/quest/edit/' + id, {
                method: 'POST',
                body: JSON.stringify(body)
            }).then(res => console.log(res));
        }

        async function request(url, config) {
            if (config.header == null) config.header = {};
            if (config.doRedirection == null) config.doRedirection = true;

            const xhr = new XMLHttpRequest();
            xhr.open(config.method, url, false);

            xhr.setRequestHeader("Content-Type", 'application/json');

            xhr.send(config.body);

            if (config.doRedirection && xhr.status === 200 && xhr.responseURL)
                window.location.href = (xhr.responseURL);

            return xhr;
        }
    </script>
</th:block>