<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/devLayout">
<head>
    <title th:if="${type}=='edit'" th:text="'퀘스트 수정 :: ' + ${quest.title}"></title>
    <title>퀘스트 작성</title>
</head>

<th:block layout:fragment="stylesheets">
    <style>
        .content {
            padding: 15px;
        }

        h2 {
            margin-bottom: 15px;
        }

        input {
            font-size: 25px;
            margin-bottom: 15px;
        }

        textarea {
            height: 500px;
        }

        #controls {
            text-align: right;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="content">
        <div th:switch="${type}">
            <h2 th:case="'edit'">퀘스트 수정 :: [[${quest.title}]]</h2>
            <h2 th:case="*">신규 퀘스트</h2>
        </div>

        <label class="w100" for="input">제목</label>
        <input class="w100" id="input" th:value="${quest?.title}?:''">

        <label class="w100" for="ta">퀘스트 내용</label>

        <textarea class="w100" id="ta" th:inline="text">[[${quest?.content}]]</textarea>

        <div id="controls">
            <button class="btnNegative" onclick="window.history.back()">취소</button>
            <button class="btnPositive" th:onclick="onConfirm([[${quest}]])">게시</button>
        </div>
    </div>
</th:block>

<th:block layout:fragment="bodyScripts">
    <script>
        const ta = document.getElementById('ta');
        const tf = document.getElementById('input');

        function onConfirm(quest) {
            const title = tf.value;
            const content = ta.value;

            if (quest == null) requestNewQuest(title, content);
            else requestEditQuest(quest.id, title, content);
        }

        function requestNewQuest(title, content) {
            const body = {
                title: title,
                content: content,
                regTime: now()
            };

            request('/quest/write', {
                method: 'POST',
                body: JSON.stringify(body)
            }).then(res => console.log(res));
        }

        function requestEditQuest(id, title, content) {
            const body = {
                title: title,
                content: content
            };

            request('/quest/edit/' + id, {
                method: 'PUT',
                body: JSON.stringify(body)
            }).then(res => console.log(res));
        }
    </script>
</th:block>